*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width:400px;
}